<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="PPConnection" type="SendMailService.Classes.PPConnectionConfigSection, SendMailService" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="MailSettings" type="SendMailService.Classes.MailSettingsConfigSection, SendMailService" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--Идентификатор репозитория-->
    <add key="PRepositoryId" value="ASDNDOP5_AUTOTEST"/>
    <!-- Интервал запуска процесса Обновления прав доступа на пказатели (в миллисекундах) -->
    <add key="timerIntervalUpdateRights" value="86400000"/>	
    <!--Интервал запуска таймера в миллисекундах-->
    <add key="timerIntervalVerification" value="60000"/>
    <!--Интервал запуска таймера в миллисекундах-->
    <add key="timerIntervalTU" value="360000"/>
    <!-- Включить трассировку авторизации -->
    <add key="writeLogTrace" value="0"/>
    <!-- Включить трассировку обновления прав на показатели -->
    <add key="traceRightsUpdate" value="0"/>    
    <!--Признак отображения логов консоли-->
    <add key="writeToConsole" value="1"/>
    <!--Признак сохранения уведомлений в файлы, без отправки на почту-->
    <add key="saveNotificationInFile" value="1"/>
    <!--Путь до папки, куда будут сохраняться файлы уведомлений при включенном признаке saveNotificationInFile-->
    <add key="pathFolderNotifications" value="C:\mail_service\notifications"/>
    <!-- Признак необходимости отправки писем координаторам-->
    <add key="sendMailCoordinators" value="1"/>
    <!-- Признак необходимости отправки писем ответственным за показатели-->
    <add key="sendMailTU" value="1"/>
  </appSettings>
  <PPConnection>
    <repositoryConnection login="asdndop5" password="asdndop5"/>
  </PPConnection>
  <MailSettings server="smtp.mail.ru" port="465" fromMailAddress="kzp_notify@it-limon.ru" senderLogin="kzp_notify@it-limon.ru" senderPassword="nxyIsGfWqFo7NpT" testMailTo="sergeev@it-limon.ru"/>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="logfile" xsi:type="File" fileName="${basedir}/log/info.log" layout="${longdate}     ${level:uppercase=true}    ${message}" archiveFileName="${basedir}/log/arhive/info.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="3" concurrentWrites="true"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile"/>
    </rules>
  </nlog>
  <configProtectedData>
    <providers>
      <add name="CisPmProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration,    Version=2.0.0.0,
    Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,
    processorArchitecture=MSIL" keyContainerName="CisPm.Keys" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
</configuration>
